name: nrb_env
channels:
  - conda-forge
  - defaults
  - s1-etad
dependencies:
  - python>=3.8
  - gdal>=3.4.1
  - click
  - lxml
  - pip
  - pystac
  - scipy
  - pyroSAR>=0.17.3
  - s1etad>=0.5.3
  - s1etad_tools>=0.8.1