asf_search
click>=7.1.0
gdal>=3.5.0
lxml
multiformats>=0.3.1
numpy<2.0
packaging
pyproj
pyroSAR>=0.27.0
pystac>=1.8.0,<1.11.0
pystac-client>=0.7.0
python-dateutil
requests
s1etad>=0.5.3
s1etad_tools>=0.8.1
scipy
spatialist>=0.12.0